/* This style sheet undoes rules that get in the way of responsiveness */
#Section_Head_Roundal img {display: none;}
.product_listing_container .grid_mode .product > .product_image {height: auto; width: 400px;}
.product_listing_container .grid_mode > .row > .product, 
.product_listing_container .grid_mode > .row_3col > .product, 
.product_listing_container .grid_mode > .row_2col > .product {width: auto;}
.grid_mode {text-align: center;}
div.content_wrapper {min-width: auto; text-align: center;}
div.content_wrapper > div.content_left_shadow {padding: 0; max-width: 1280px; width: 100%;}
#productsFacets {text-align: left;}

.container_content_leftsidebar > .left_column {padding: 0; width: 20%; text-align: left; margin: 0;}
.container_content_leftsidebar {width: 100%;}
div.widget_left_nav {width: 100%;}
.container_content_leftsidebar > .right_column {padding: 0; width: 80%;}

div.content_wrapper > div.content_left_shadow > div.content_right_shadow {padding: 0; width: 100%;}
div.content_wrapper > div.content_left_shadow > div.content_right_shadow > div.main_content {width: 100%;}
.container_full_width {width: 100%;}
div#widget_breadcrumb {text-align: left;}

..container_content_leftsidebar {background: #DFCBB3;}

div.widget_tall_double_espot, #Topnewbck {width: 100%;}

