/* Last update: 20/09/17 8:37
* Copyright 2017, Hotter.com
* 
* Author: Andy Davies
*/
/**********************************************/
/* Contents                                   */
/* Mobile                 0-399   Green       */
/* Larger than mobile   400-549   Yellow      */
/* Larger than phablet  550-749   Pink        */
/* Larger than tablet   750-999   Turquoise   */
/* Larger than desktop 1000-1199  Lilac       */
/* Larger than Desktop 1200-huge! Blue        */
/**********************************************/

/*Needs reverting*/
#plp .uspboxmob {display: none;}


/* Defaults */

* {box-sizing: border-box;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    /*font-family: 'Archivo Narrow',Arial,Verdana,Helvetica,sans-serif;*/
}

a {color: #7E7675;  text-decoration: none;}
a:link {color: #7E7675; text-decoration: none;}
a:visited {}
a:hover {color: #7E7675; text-decoration: underline; text-decoration-color: #A5C842;}
a:active {color: #7E7675; text-decoration: underline; text-decoration-color: #A5C842;}

/*Clear fix */
.group:after {content: ""; display: table; clear: both;}

img {width: 100% !important; height: auto !important;}
.respco .sec-logo-img {max-width: 200px;}
div#widget_masthead_logo1 img {max-width: 200px;}

/*Body*/

body {background: none;}

/*Header*/
/*
div.header_wrapper {min-width: 300px;}
div.header_wrapper > div.header_left_shadow {width: 100%; padding: 0; margin: 0;}
div.header_wrapper > div.header_left_shadow > div.header_right_shadow {width: 100%;}
div.header_wrapper > div.header_left_shadow > div.header_right_shadow > div.header {width: 100%;}

div.header_wrapper > div.header_left_shadow > div.header_right_shadow {padding: 0;}
#ems_hotter_logo_17902 {padding: 5px 10px;}
#masthead>.content {height: auto;}
div.widget_masthead_logo_position,
div.widget_masthead_links_position,
div#widget_masthead_links div.masthead_links {position: unset;}
div#widget_masthead_links div.masthead_links span.masthead_links_container {font-size: 0;}

div#widget_masthead_links,
.masthead_links_container {width: 100%;}

.hotter-logo {text-align: center; margin: 0; width: 200px; clear: both;}
div#widget_masthead_logo1 img {width: 100%; height: auto;}
.h-links-1, .h-links-2 {margin-bottom: 20px;}
.h-links-1 {float: left;}
.h-links-2 {float: right; text-align: right;}

.h-links-1 li, .h-links-2 li {display: inline-block; list-style: none; padding-left: 30px;}

.jsEnabled #masthead>.navigation {width: 100%;}

div#searchComponent {position: unset;}

.jsEnabled div.widget_search_position {
    bottom: 62px;
    height: 50px;
    position: inherit;
    right: 2px;
    z-index: 999999;
}
div#widget_search {
    height: 50px;
    background-color: #ffffff;
    border-radius: 4px;
}
div#widget_search>div.content {
    padding: 0;
    float: none;
    height: 50px;
    float: left;
    position: absolute;
    right: 200px;
    border: solid 2px #efefef;
    border-radius: 10px;
}
div#widget_search>div.content,
div.widget_minishopcart_position {top: 56px;}
div#widget_minishopcart>div.content>div.info {
    margin: 0;
}
div#widget_search>div.content input.search_input {
    width: 250px;
    font-size: 16px;
    height: 50px;
    display: inline-block;
    float: none;
    vertical-align: top;
    padding: 10px;
}
div#widget_search>div.content input.search_submit {
    position: relative;
    height: 46px;
    width: 47px;
    background: #A2C43F;
    margin: 0 3px 0 0;
    padding: 0;
    top: 0;
    float: right;
    display: inline-block;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

div.widget_minishopcart_position {
    right: 10px !important;
}

.widget_masthead_links_position {display: none;}
*/
/*PLP*/
#plp div.content_wrapper_position {max-width: 960px; margin: 0 auto;}
#plp div.content_wrapper {min-width: 300px;}
#plp div.content_wrapper > div.content_left_shadow,
#plp div.content_wrapper > div.content_left_shadow > div.content_right_shadow,
#plp div.content_wrapper > div.content_left_shadow > div.content_right_shadow > div.main_content,
#plp .container_full_width,
#plp .widget_product_listing>.middle>.left_border>.right_border>.content>.header_bar>.title,
#plp .widget_product_listing>.middle>.left_border>.right_border>.content>.header_bar>.results_control,
#plp .widget_product_listing>.middle>.left_border>.right_border>.content>.header_bar>.sorting_controls,
#plp .widget_product_listing>.middle>.left_border>.right_border>.content>.header_bar>.paging_controls,
#plp .container_content_leftsidebar,
#plp .widget_product_listing_position,
#plp .widget_product_listing > .top,
#plp .widget_product_listing > .middle,
#plp .widget_product_listing > .middle > .left_border,
#plp .widget_product_listing > .middle > .left_border > .right_border,
#plp .widget_product_listing > .middle > .left_border > .right_border > .content {width: 100%; padding: 0;}
div.content_wrapper > div.content_left_shadow {margin: auto; padding: 0;}
.container_content_leftsidebar .left_column {display: none;}
.container_content_leftsidebar > .right_column {width: 100%;}

#plp div.widget_tall_double_espot {width: 100%;}

#plp #category_header.dark-bg h1 {background-color: rgba(0, 0, 0, 0.7); color: #fff;}
#plp #category_header.light-bg h1 {background-color: rgba(255, 255, 255, 0.7); color: #000;}
#plp #category_header {position: relative;}
#plp #category_header h1 {position: absolute; padding: 1%; margin: 0; font-style: italic; font-family: Baskerville-BT; font-size: 1.5em; font-weight: normal; text-transform: capitalize; left: 0; top: 0; text-align: center; width: 100%;}

#plp #category_header img {}
#plp #category_header_copy {padding: 0 5%; text-align: center; font-size: 0.8em; font-family: Bliss; line-height: normal; display: none;}

#plp .widget_product_listing {}
#plp .widget_product_listing > .middle > .left_border > .right_border > .content > .header_bar > .paging_controls,
#plp .widget_product_listing > .middle > .left_border > .right_border > .content > .header_bar > .title,
#plp .widget_product_listing>.middle>.left_border>.right_border>.content>.header_bar>.sorting_controls,
#plp .widget_product_listing>.middle>.left_border>.right_border>.content>.header_bar>.results_control {
        margin: 0; 
        padding: 0; 
        float: none; 
        position: relative; 
        clear: left; 
        text-align: center;
        height: auto;
        top: 0;
        line-height: 30px;
        font-weight: 700;
}

.sorting_controls span,
.sorting_controls form,
.sorting_controls #orderByForm {float: none; display: inline-block;}
select#orderBy {font-size: 12px;}
.widget_product_listing > .middle > .left_border > .right_border > .content > .header_bar > .paging_controls > .pages > ul > li {
    color: #4D4D4D;
    cursor: default;
    display: inline-block;
    float: none;
    margin: 0;
    width: 30px;
    padding: 0;
    line-height: 30px;
    text-align: center;
    height: 30px;
    min-width: 0;
    border-radius: 15px;
    transition: all 1s;
    font-weight: 700;
}
a.prev {font-size: 0;}
a.prev:before {
    content: "\f104";
    font-family: FontAwesome;
    font-size: 14px;
}
a.next {font-size: 0;}
a.next:before {
    content: "\f105";
    font-family: FontAwesome;
    font-size: 14px;
}
.widget_product_listing > .middle > .left_border > .right_border > .content > .header_bar > .paging_controls > .pages {
    float: none;
    line-height: 30px;
    width: 100%;
    height: auto;
}
#plp .paging_controls a {display: inline;}
#plp .paging_controls > a {display: none;}

.product_listing_container + .header_bar .title,
.product_listing_container + .header_bar .results_control,
.product_listing_container + .header_bar .sorting_controls,
.product_listing_container + .header_bar .mobile-filter {display: none;}

.product_listing_container {clear: both;}
#plp .attraqt_product.marketing,
#plp .pagnarrow {display: none;}
#plp .attraqt_product {width: 48%; display: inline-block; vertical-align: top;}
.product_listing_container .grid_mode .attraqt_product > .product_image {width: 100%; height: auto; height: 200px; text-align: center;}
.product_listing_container .grid_mode .attraqt_product > .product_image img {max-width: 200px;}
/*.attraqt_product {width: 100%; display: inline-block; vertical-align: top;}*/
#plp .attraqt_product {width: 48%; display: inline-block; vertical-align: top;}
.attraqt_product .color_swatch_list {min-height: 90px; padding: 0 3%;}
.product_listing_container .grid_mode .attraqt_product > .swatches {width: 100%; max-width: initial;}
.product_listing_container .grid_mode .attraqt_product > .swatches a {display: inline-block; width: 11%; margin: 0 1%;}
.product_listing_container .grid_mode .attraqt_product > .swatches a.nodisplay {display: none;}
.product_listing_container .grid_mode .attraqt_product > .product_info > .product_price {text-align: center;}
#plp .pr-snippet-stars {float: none; width: 80px; margin: 0 auto !important; padding: 0;}
.widget_product_listing>.middle>.left_border>.right_border>.content>.header_bar>.results_control {display: none;}

#sortby option {font-size: 12px;}

div.widget_left_nav > div.content_left_border > div.content_right_border > div.content div.content_section div.section_list {
    min-height: 25px;
    padding: 8px 12px 8px 8px;
}

div.widget_left_nav > div.content_left_border > div.content_right_border > div.content div.content_section div.filter_list > ul > li:first-child {
    padding-top: 6px !important;
}

div.widget_left_nav > div.content_left_border > div.content_right_border > div.content div.content_section div.section_list > ul > li > a > div.filter_option > div.filter_sprite,
div.widget_left_nav > div.content_left_border > div.content_right_border > div.content div.content_section div.header > div.clearall > a > div.clear_all_text > div.filter_sprite {display: none;}

/* \f057 Time Circle */
.clear_all_text span:before,
.filter_option span:before {
    content: '\f057';
    display: inline-block;
    position: relative;
    font-family: 'FontAwesome';
    transition: all 1s;
    padding: 0 5px 0 0;
    vertical-align: baseline;
    color: #A2C43F;   
}

.clear_all_text:hover span:before,
.filter_option:hover span:before {color: #f00;}


div.widget_left_nav > div.content_left_border > div.content_right_border > div.content div.content_section div.header > span.filter_by_title {
    color: #58595B;
    float: left;
    font-family: "Minion Pro", "Times New Roman",Times,serif;
    font-size: 18px;
    padding-bottom: 5px;
    text-transform: capitalize;
    font-weight: 700;
    padding: 5px;
}

div.widget_left_nav > div.content_left_border > div.content_right_border > div.content div.content_section div.header span.header_title {
    color: #58595B;
    float: left;
    font-family: "Minion Pro", "Times New Roman",Times,serif;
    font-size: 16px;
    text-transform: initial;
    font-weight: 700;
}

#productsFacets input {
    display: none;
}

#productsFacets input[data-checked="false"] + label:before {
    content: '\f096';
    display: inline-block;
    position: relative;
    font-family: 'FontAwesome';
    transition: all 1s;
    padding: 0 5px 0 0;
    vertical-align: baseline;
    color: #58595B;       
}

#productsFacets input[data-checked="true"] + label:before {
    content: '\f046';
    display: inline-block;
    position: relative;
    font-family: 'FontAwesome';
    transition: all 1s;
    padding: 0 5px 0 0;
    vertical-align: baseline;      
}

span.header-title,
.open span.header-title {width: 100%; display: inline-block;}

span.header_title {
    display: inline-block;
    width: 100%;
}

span.header_title:hover {
    cursor: pointer;
}

div.widget_left_nav > div.content_left_border > div.content_right_border > div.content div.content_section div.section_list ul li label:hover, 
div.widget_left_nav > div.content_left_border > div.content_right_border > div.content div.content_section div.section_list div.showMore label:hover {
    text-decoration: none;
}

div.widget_left_nav > div.content_left_border > div.content_right_border > div.content div.content_section div.section_list ul li label span:hover, 
div.widget_left_nav > div.content_left_border > div.content_right_border > div.content div.content_section div.section_list div.showMore label span:hover {
    text-decoration: underline;
}

span.header_title:before {
    /* width: 18px; */
    /*line-height: 17px;*/
    content: '\f138';
    display: inline-block;
    position: relative;
    font-family: 'FontAwesome';
    transition: all 1s;
    padding: 0 5px;
    vertical-align: baseline;
}

/*
span.header_title:after {
    width: 11px;
    height: 20px;
    content: '\f04b';
    display: inline-block;
    float: right;
    position: relative;
    right: 20px;
    font-family: 'FontAwesome';
    transition: all 1s
}
*/
/*.open span.header_title:after,*/
.open span.header_title:before {
    color: #A2C43F;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);    
}

#mobile-filter {text-align: center; margin: 0 0 5px;}
#mobile-filter:hover {background: transparent;}

/* \f0b0 - Filter Icon http://fontawesome.io/icon/filter/ */
#mobile-filter-button {
    display: inline-block;
    width: 100%;
    color: #fff;
    font-size: 14px;
    background: #A2C43F;
    height: 40px;
    padding-right: 8px;
}
#mobile-filter-button:hover {background: #e1e1e1; color: initial; cursor: pointer;}
#mobile-filter-button:before {
    font-family: 'FontAwesome';
    content: '\f0b0';
    font-size: 16px;
    display: inline-block;
    margin: 0px;
    padding: 8px;
}

.close-filter {float: right; font-size: 0;}
/* \f00d - Close Icon http://fontawesome.io/icon/times/ */
.close-filter:before {
    font-family: 'FontAwesome';
    content: '\f00d';
    font-size: 24px;
    display: inline-block;
    width: 24px;
    line-height: 24px;
}

#plp > .left_column {
    position: fixed;
    top: 0;
    z-index: 300;
    background: #fff;
    box-shadow: #ccc 2px 2px 8px;
    left: -250px;
    transition: all 1s;
    padding: 10px 0 0 10px;
    overflow-y: auto;
    height:calc(100vh - 20px);    
}

#plp > .left_column.showfilter {
    left: 0;
}

.content_section.group {
    border-bottom: 1px #e1e1e1 solid;
}

.closer-div {
    width: 100%;
    background: #fff;
    min-height: 20000px;
    position: absolute;
    z-index: 299;
    /* background: transparent; */
    opacity: 0.5;
}

div.widget_left_nav > div.content_left_border > div.content_right_border > div.content div.content_section div.header {float: none; background: transparent;}
div.widget_left_nav > div.content_left_border > div.content_right_border > div.content div.content_section div.header > div.clearall {clear: left;}
div.widget_left_nav > div.content_left_border > div.content_right_border > div.content div.content_section div.section_list {clear:left;}

div.force-open {
    display: block !important;
}

/*Mobile*/
@media (max-width: 399px) {
    #dev {
        display: block;
        width: 100%;
        height: 5px;
        background-color: green;
    }

} /* End Mobile < 399px*/   

@media (min-width: 400px) {
    #dev {
        display: block;
        width: 100%;
        height: 5px;
        background-color: yellow;
    }
    #plp .attraqt_product {width: 48%; display: inline-block; vertical-align: top;}
}

/* Larger than tablet (also point when grid becomes active) */
@media (min-width: 550px) {
    #dev {
        display: block;
        width: 100%;
        height: 5px;
        background-color: pink;        
    }
    #plp .attraqt_product {width: 32.5%; display: inline-block; vertical-align: top;}
    #plp .widget_product_listing > .middle > .left_border > .right_border > .content > .header_bar > .title {width: 50%; text-align: left; float: left;}
    #plp .widget_product_listing > .middle > .left_border > .right_border > .content > .header_bar > .results_control {width: 50%; text-align: right; float: right; clear: right;}
    #plp .widget_product_listing > .middle > .left_border > .right_border > .content > .header_bar > .sorting_controls {width: 100%; text-align: center; float: none; clear:both;}
    #plp .widget_product_listing > .middle > .left_border > .right_border > .content > .header_bar > .paging_controls {width: 50%; float: right; text-align: right; clear: right;}
    #plp #category_header h1 {top: 15px; margin: 1%; text-align:left; width: auto;}
    #plp #category_header_copy {display: block;}
    #mobile-filter {width: 167px; margin: 0 auto 5px;}
}

/* Larger than tablet */
@media (min-width: 770px) {
    #dev {
        display: block;
        width: 100%;
        height: 5px;
        background-color: turquoise;
    }
    .container_content_leftsidebar .left_column {display: block; margin-top: 5px;}
    .container_content_leftsidebar > .left_column {width: 25%; margin-right: 2%;}
    .container_content_leftsidebar > .right_column {width: 73%;}
    div.content_wrapper > div.content_left_shadow {margin: auto; padding: 10px;}
    .widget_product_listing>.middle>.left_border>.right_border>.content>.header_bar>.results_control {display: block;}
    #plp .widget_product_listing > .middle > .left_border > .right_border > .content > .header_bar > .sorting_controls {width: 50%; float: left; text-align: left; clear: left;}
    #plp .widget_product_listing > .middle > .left_border > .right_border > .content > .header_bar > .paging_controls {width:  50%; float: right; text-align: right; clear: right;}
    #mobile-filter,
    .close-filter {display: none;}
    .closer-div {display: none;}
}

/*Hack*/
@media (max-width: 770px) {
    .respco .dijitTooltip {
        left: 12px !important;
        margin-top: -35px;
        margin: -45px 1% 0;
        width: 100% !important;
        margin-left: -6px;
    }
    div#paymentArea1.dijitContentPane > div {
        margin: 5px 0 0 !important;
        font-size: 10px !important;
        line-height: 14px !important;
    }

}

/* Larger than tablet */
@media (min-width: 930px) {
    #dev {
        display: block;
        width: 100%;
        height: 5px;
        background-color: gold;
    }
    #plp .attraqt_product {width: 24%; display: inline-block; vertical-align: top;}
    #plp .widget_product_listing > .middle > .left_border > .right_border > .content > .header_bar > .title {width: 33%;}
    #plp .widget_product_listing > .middle > .left_border > .right_border > .content > .header_bar > .sorting_controls {width: 33%; margin: 0 auto 0 auto; text-align: center; float:none; clear: none;}
    #plp .widget_product_listing > .middle > .left_border > .right_border > .content > .header_bar > .results_control {width: 33%; clear: right;}
    #plp .widget_product_listing > .middle > .left_border > .right_border > .content > .header_bar > .paging_controls {width: 33%; float: right; text-align: right; clear: right;}
    #plp #category_header_copy {padding: 10px;  position: absolute; bottom: 15px; width: 70%; right: 10px;}
    #plp .dark-bg #category_header_copy {background-color: rgba(0, 0, 0, 0.7);}
    #plp .dark-bg #category_header_copy * {color: #fff;}
    #plp .light-bg #category_header_copy {background-color: rgba(255, 255, 255, 0.7);}
    #plp .light-bg #category_header_copy * {color: #000;}
}

/* Larger than desktop */
@media (min-width: 1280px) {
    #dev {
        display: block;
        width: 100%;
        height: 5px;
        background-color: cornflowerblue;
    }
    #plp .attraqt_product {width: 24%; display: inline-block; vertical-align: top;}
}

/* Larger than Desktop HD */
@media (min-width: 1600px) {
    #dev {
        display: block;
        width: 100%;
        height: 5px;
        background-color: blue;

    }
    #plp .attraqt_product {width: 24%; display: inline-block; vertical-align: top;}
}