/* Last update: 28/07/17 8:37
* Copyright 2017, Hotter.com
* 
* Author: Andy Davies
*/
/**********************************************/
/* Contents                                   */
/* Mobile                 0-399   Green       */
/* Larger than mobile   400-549   Yellow      */
/* Larger than phablet  550-749   Pink        */
/* Larger than tablet   750-999   Turquoise   */
/* Larger than desktop 1000-1199  Lilac       */
/* Larger than Desktop 1200-huge! Blue        */
/**********************************************/


/* Defaults */

* {box-sizing: border-box;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    /*font-family: 'Archivo Narrow',Arial,Verdana,Helvetica,sans-serif;*/
}

a {color: #7E7675;	text-decoration: none;}
a:link {color: #7E7675;	text-decoration: none;}
a:visited {}
a:hover {color: #7E7675; text-decoration: underline; text-decoration-color: #A5C842;}
a:active {color: #7E7675; text-decoration: underline; text-decoration-color: #A5C842;}

/*Clear fix */
.group:after {content: ""; display: table; clear: both;}

img {width: 100% !important; height: auto !important;}
.respco .sec-logo-img {max-width: 200px;}
div#widget_masthead_logo1 img {max-width: 200px;}

/*Body*/


body {background: none;}
div.header_wrapper > div.header_left_shadow {width: 100%; padding: 0; margin: 0;}
div.header_wrapper > div.header_left_shadow > div.header_right_shadow {width: 100%;}
div.header_wrapper > div.header_left_shadow > div.header_right_shadow > div.header {width: 100%;}


/*Header*/
div.header_wrapper {min-width: 300px;}
div.header_wrapper > div.header_left_shadow > div.header_right_shadow {padding: 0;}
#ems_hotter_logo_17902 {padding: 5px 10px;}
#masthead>.content {height: auto;}
div.widget_masthead_logo_position,
div.widget_masthead_links_position,
div#widget_masthead_links div.masthead_links {position: unset;}
div#widget_masthead_links div.masthead_links span.masthead_links_container {font-size: 0;}

div#widget_masthead_links,
.masthead_links_container {width: 100%;}

.hotter-logo {text-align: center; margin: 0; width: 200px; clear: both;}
div#widget_masthead_logo1 img {width: 100%; height: auto;}
.h-links-1, .h-links-2 {margin-bottom: 20px;}
.h-links-1 {float: left;}
.h-links-2 {float: right; text-align: right;}

.h-links-1 li, .h-links-2 li {display: inline-block; list-style: none; padding-left: 30px;}

.jsEnabled #masthead>.navigation {width: 100%;}
/*div#searchComponent {height: 50px; background: pink;}*/
div#searchComponent {position: unset;}

.jsEnabled div.widget_search_position {
    bottom: 62px;
    height: 50px;
    position: inherit;
    right: 2px;
    z-index: 999999;
}
div#widget_search {
    /* border: 0px solid #CCC; */
    height: 50px;
    background-color: #ffffff;
    border-radius: 4px;
}
div#widget_search>div.content {
    padding: 0;
    float: none;
    height: 50px;
    float: left;
    position: absolute;
    right: 200px;
    border: solid 2px #efefef;
    border-radius: 10px;
}
div#widget_search>div.content,
div.widget_minishopcart_position {top: 56px;}
div#widget_minishopcart>div.content>div.info {
	margin: 0;
}
div#widget_search>div.content input.search_input {
    width: 250px;
    font-size: 16px;
    height: 50px;
    display: inline-block;
    float: none;
    vertical-align: top;
    padding: 10px;
}
div#widget_search>div.content input.search_submit {
    position: relative;
    height: 46px;
    width: 47px;
    background: #A2C43F;
    margin: 0 3px 0 0;
    padding: 0;
    top: 0;
    float: right;
    display: inline-block;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

div.widget_minishopcart_position {
    right: 10px !important;
}

.widget_masthead_links_position {display: none;}

/*PLP*/
div.content_wrapper_position {max-width: 960px; margin: 0 auto;}
div.content_wrapper {min-width: 300px;}
div.content_wrapper > div.content_left_shadow,
div.content_wrapper > div.content_left_shadow > div.content_right_shadow,
div.content_wrapper > div.content_left_shadow > div.content_right_shadow > div.main_content,
.container_full_width,
.container_content_leftsidebar,
.widget_product_listing_position,
.widget_product_listing > .top,
.widget_product_listing > .middle,
.widget_product_listing > .middle > .left_border,
.widget_product_listing > .middle > .left_border > .right_border,
.widget_product_listing > .middle > .left_border > .right_border > .content {width: 100%;}
.container_content_leftsidebar > .left_column {width: 25%; margin-right: 2%;}
.container_content_leftsidebar > .right_column {width: 73%;}
.product_listing_container .grid_mode .product > .product_image {width: 100%; height: auto;}
.product_listing_container .grid_mode .product > .product_image img {max-width: 200px;}
.product {width: 100%; display: inline-block; vertical-align: top;}
.product_listing_container .grid_mode .product > .product_color_swatches {width: 100%;}
.product_listing_container .grid_mode .product > .product_color_swatches a {display: inline-block; width: 10%; margin: 0;}
.product_listing_container .grid_mode .product > .product_color_swatches a.nodisplay {display: none;}




.product {width: 32%; display: inline-block; vertical-align: top;}

