/* Last update: 28/07/17 8:37
* Copyright 2017, Hotter.com
* 
* Author: Andy Davies
*/
/**********************************************/
/* Contents                                   */
/* Mobile                 0-399   Green       */
/* Larger than mobile   400-549   Yellow      */
/* Larger than phablet  550-749   Pink        */
/* Larger than tablet   750-999   Turquoise   */
/* Larger than desktop 1000-1199  Lilac       */
/* Larger than Desktop 1200-huge! Blue        */
/**********************************************/


/* Defaults */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    font-family: Raleway,Arial,Verdana,Helvetica,sans-serif;
}
/*
a:link {color: #A5C842;	text-decoration: none;}
a:visited {}
a:hover {color: #7E7675; text-decoration: underline; text-decoration-color: #A5C842;}
a:active {color: #7E7675; text-decoration: underline; text-decoration-color: #A5C842;}
*/

/*img {width: 100% !important; height: auto !important;}*/

/*Body*/
body {background: none;}
div.header_wrapper > div.header_left_shadow {width: 100%; padding: 0; margin: 0;}
div.header_wrapper > div.header_left_shadow > div.header_right_shadow {width: 100%;}
div.header_wrapper > div.header_left_shadow > div.header_right_shadow > div.header {width: 100%;}

/*Header*/
div.widget_masthead_logo_position,
div.widget_masthead_links_position,
div#widget_masthead_links div.masthead_links {position: unset;}
div#widget_masthead_links div.masthead_links span.masthead_links_container {font-size: 0;}

div#widget_masthead_links,
.masthead_links_container {width: 100%;}

.hotter-logo {text-align: center; margin: 0; width: 200px; clear: both;}
div#widget_masthead_logo1 img {width: 100%; height: auto;}
.h-links-1 {float: left;}
.h-links-2 {float: right; text-align: right;}

.h-links-1 li, .h-links-2 li {display: inline-block; list-style: none;}

/*Clear fix */
.group:after {content: ""; display: table; clear: both;}

