/*
* RS2 Responsive V1.0
* Copyright 2017, Hotter.com
* 
* Author: Andy Davies, CSS God;
*/
/**********************************************/
/* Contents												            */
/* Mobile                 0-399   Green       */
/* Larger than mobile   400-549   Yellow      */
/* Larger than phablet  550-749   Pink        */
/* Larger than tablet   750-999   Turquoise   */
/* Larger than desktop 1000-1199  Lilac       */
/* Larger than Desktop 1200-huge! Blue        */
/**********************************************/
/* Default */

* {box-sizing: border-box;}
img {width: 100%;}  

/*Clear fix */
.group:after {content: ""; display: table; clear: both;}

/*Global Resets*/
#headerWidget div.header_wrapper {min-width: 0; max-width: 960px; width: 100%;}
#headerWidget div#widget_masthead_links div.masthead_links {display: none;}
#headerWidget div.header_wrapper > div.header_left_shadow {width: 100%; padding: 0;}
#headerWidget div.header_wrapper > div.header_left_shadow > div.header_right_shadow {width: 100%; padding: 0;}
#headerWidget div.header_wrapper > div.header_left_shadow > div.header_right_shadow > div.header {width: 100%;}
#headerWidget #masthead > .content {height: 87px; position: relative; width: 100%; background-color: #ffffff;}
#headerWidget div.widget_masthead_logo_position {left: 0px; position: relative; top: 0px;}
#headerWidget .desklogo {display: none;}
#headerWidget .desklogo > div {position: relative; width: 100%;}
#headerWidget div#widget_masthead_logo1 img {position: relative; left: 0 top: 0; margin: 0;}
#headerWidget .mobilelogo {display: block; width: 50%; margin: 0 auto;}
#headerWidget .mobilelogo > div {float: none;}
#headerWidget .header_espot_container {display: none;}
#headerWidget div.widget_minishopcart_position {display: none;}
#headerWidget a.blomobcart {display: none;}
#headerWidget .mobburger {display: none;}
#headerWidget .searchposdiv {display: none;}
#headerWidget #menu {display: none;}
#headerWidget .jsEnabled #masthead > .navigation {width: 100%;}
#headerWidget #USPGeneric {display: none;}
#headerWidget .uspboxmob {display: block; line-height: 30px; height: auto;}
#headerWidget .uspboxmobc {font-size: 14px;}

/*Checkout Resets*/
#content_wrapper .content_wrapper {min-width: 300px; max-width: 960px; width: 100%; text-align: center;}
#content_wrapper .content_wrapper > div.content_left_shadow {width: 100%; padding: 0 10px;}
#content_wrapper div.content_wrapper > div.content_left_shadow > div.content_right_shadow {width: 100%; padding: 0;}
#content_wrapper div.content_wrapper > div.content_left_shadow > div.content_right_shadow > div.main_content {width: 100%; padding: 0;}
#content_wrapper .container_full_width {width: 100%;}
#content_wrapper #checkout_crumb {width: 100%; border: none; padding: 0; float: none; margin: 20px 0;}
#content_wrapper #checkout_crumb .crumb {text-align: center;}
#content_wrapper #checkout_crumb span.step_on, 
#content_wrapper #checkout_crumb span.step_off {margin: 0; font-size: 0; float: none; width: 20%; display: inline-block;}
#content_wrapper #checkout_crumb span.step_on {color: #A2C43F;}
#content_wrapper #box {min-width: 0;}
#content_wrapper #box h1 {text-align: center; font-size: 24px; margin: 0;}
#content_wrapper #box p {font-size: 12px;}
#content_wrapper .container_content_rightsidebar {width: 100%;}
#content_wrapper .container_content_rightsidebar #guestLogin {width: 100%; padding: 0;}
#content_wrapper #WC_AccountDisplay_div_7 .strong {font-size: 12px; padding: 0; text-align: center;}
#content_wrapper #WC_AccountDisplay_div_7 br {display: none;}
#content_wrapper form {text-align: left; width: 100%;}
#content_wrapper #guestLogin #WC_AccountDisplay_div_3 .content {padding: 5px; width: 100%;}
#content_wrapper #guestLogin .emailSection label {font-size: 14px; padding: 0;}
#content_wrapper #guestLogin .emailSection input {width: 100% !important;}
#content_wrapper #guestLogin .emailSection .infoText {padding: 10px 0 10px 25px; font-size: 16px; text-align: left;}
#WC_AccountDisplay_div_3 .content input, #WC_AccountDisplay_div_19 .content input {height: auto; width: 100%;}
#AjaxUniversalVariableDataLayer {display: none;}
#content_wrapper div.footer_wrapper_position {display: none;}
#content_wrapper #guestCheckoutPage .backToBasket {width: 100%;}
#content_wrapper #guestLogin #WC_AccountDisplay_div_3 {width: 100%;}
#content_wrapper #guestLogin #userIsNotExist,
#content_wrapper #newUserForm,
#content_wrapper #guestLogin #newUserForm .sign_in_registration,
#content_wrapper .sign_in_registration .form .content .align,
#content_wrapper #guestLogin #newUserForm .form_2column .regForm,
#content_wrapper #guestLogin #newUserForm input,
#content_wrapper #guestLogin #newUserForm .form_2column .regForm,
#content_wrapper #guestCheckoutPage .backToBasket,
#content_wrapper #guestCheckoutPage #guestCheckoutPage #addressLine2,
#guestCheckoutPage #content_wrapper #guestLogin #passwordArea {width: 100%;}

#content_wrapper #guestLogin #newUserForm select {
    border: 2px solid #7e7675;
    height: 36px;
    margin-bottom: 0; 
    padding: 0 5px;
    font-size: 14px;
    line-height: 36px;
    width: 100%;
    max-width: 100%;
}
#content_wrapper .form_2column .regForm {padding: 0;}
#content_wrapper #guestLogin #newUserForm h2 {font-size: 18px;}
#content_wrapper .HForm {clear: left;}
#content_wrapper #guestLogin .HAddress_Finder {width: 100%; padding: 0; min-height: 120px;}
#guestCheckoutPage #content_wrapper #HAddress_Finder_PC {
    width: 90%;
    margin: 0 auto;
    clear: left;
}

#guestCheckoutPage #content_wrapper .HForm .label_spacer {
    margin: 0 auto;
    width: 90%;
    font-size: 14px !important;
    padding: 5px;
    text-align: left;
    left: 0;
    top: 0;
    float:left;
}

#guestCheckoutPage #content_wrapper .HForm .label_spacer span {
  font-size: 12px !important;
}
#content_wrapper #guestLogin .pcaAutoComplete .inputArea {
    border: 1px solid #ccc !important;
    padding: 0px !important;
    position: relative !important;
    width: 100% !important; 
    background-color: #fff !important;
    height: 20px !important;
    background-image: none;
    line-height: 18px !important;
    left: 0;
}

#guestCheckoutPage #content_wrapper .pcaAutoComplete .pnlAutoComplete, 
#guestCheckoutPage #content_wrapper .pcaAutoComplete .pnlResults, 
#guestCheckoutPage #content_wrapper .pcaAutoCompleteSmall .pnlAutoCompleteSmall, 
#guestCheckoutPage #content_wrapper .pcaAutoCompleteSmall .pnlResultsSmall {position: absolute; top: 30px; left: 0; width: 100% !important;}
#guestCheckoutPage #content_wrapper #HAddress_Finder_PC .inputArea span {font-size: inherit;}
#guestCheckoutPage #content_wrapper .pcaAutoComplete .inputArea .suggestion {height: 16px !important;}
#guestCheckoutPage #content_wrapper .pcaAutoComplete .inputArea .suggestion .invisible {font-size: inherit !important;}
#guestCheckoutPage #content_wrapper .pcaAutoComplete .inputArea .suggestion span, 
#guestCheckoutPage #content_wrapper #HAddress_Finder_PC .inputArea span {line-height: 16px; font-size: 14px !important; top: 0 !important; }
#guestCheckoutPage #content_wrapper .pcaAutoComplete .inputArea {height: 30px !important;}
#guestCheckoutPage #content_wrapper .pcaAutoComplete .inputArea .search {
    top: 7px !important;
    left: 7px !important;
    height: 16px !important;
    font-size: 14px !important;
}
#guestCheckoutPage #content_wrapper .pcaAutoComplete .recentFavourites, .pcaAutoCompleteSmall .recentFavouritesSmall {top: 29px; left: 0;}
#guestCheckoutPage #content_wrapper .pcaAutoComplete .pcaItemHolder {padding: 0;}
#guestCheckoutPage #content_wrapper .pcaAutoComplete .pcaItem,
#guestCheckoutPage #content_wrapper .pcaAutoComplete .item span,
#guestCheckoutPage #content_wrapper .pcaAutoComplete .selectedItem span {
  font-size: 12px !important;
  line-height: 20px !important;
}
#guestCheckoutPage #content_wrapper .pcaAutoComplete .recentFavourites, 
#guestCheckoutPage #content_wrapper .pcaAutoCompleteSmall .recentFavouritesSmall {width: 100% !important;}
#guestCheckoutPage #content_wrapper #HAddressFinderAlternate {
    position: relative !important;
    left: 0 !important;
    top: 0;
    font-size: 12px !important;
    color: #333;
}
#guestCheckoutPage #content_wrapper #HAddressFinderAlternate:hover {
  color: #A5C842;
  text-decoration: none;
}



#addressLine2,
#content_wrapper #guestLogin .regForm .column_label {font-size: 14px; line-height: 16px;}
#content_wrapper #guestLogin #newUserForm input {
    margin-bottom: 0;
    line-height: 24px;
    font-size: 18px;
    height: 36px;
    line-height: 18px;
    font-size: 16px;
    padding-left: 10px;
    border: #ccc 2px solid;
    margin-bottom: 15px;
    color: #666;
}
/*new change*/
#content_wrapper #guestLogin #newUserForm select {
    height: auto;
    margin-bottom: 15px;
    padding: 7px;
    width: 100%;
    max-width: 100%;
    border: solid 2px #ccc;
    color: #666;
}

#content_wrapper #guestLogin #newUserForm input:focus,
#content_wrapper #guestLogin #newUserForm select:focus {
  outline-color: #A5C842;
}
#content_wrapper .fleft {float: none;}

#content_wrapper #guestLogin #passwordArea span.header {
    color: #4D4D4D;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    display: block;
    width: 100%;
    line-height: 16px;
    height: auto;
    padding: 0;
    margin-bottom: 15px;
}

/* Font Awesome */
/* \f007 = User */
#WC_ShipmentDisplay_div_4 span:first-child:before {
    content: "\f007";
    font-family: FontAwesome;
    font-size: 24px;
}

/* \f0d1 = Truck */
#WC_ShipmentDisplay_div_4 span:nth-child(3):before {
    content: "\f0d1";
    font-family: FontAwesome;
    font-size: 24px;
}

/* \f09d = Credit Card */
#WC_ShipmentDisplay_div_4 span:nth-child(5):before {
    content: "\f09d";
    font-family: FontAwesome;
    font-size: 24px;
}

/* \f118 = Smile */
#WC_ShipmentDisplay_div_4 span:nth-child(7):before {
    content: "\f118";
    font-family: FontAwesome;
    font-size: 24px;
}

#WC_ShipmentDisplay_div_4 span:first-child:before {
    content: "1";
    font-family: 'Minion Pro Regular', "Times New Roman", Times, serif;
    font-size: 24px;
}

/* \f0d1 = Truck */
#WC_ShipmentDisplay_div_4 span:nth-child(3):before {
    content: "2";
    font-family: 'Minion Pro Regular', "Times New Roman", Times, serif;
    font-size: 24px;
}

/* \f09d = Credit Card */
#WC_ShipmentDisplay_div_4 span:nth-child(5):before {
    content: "3";
    font-family: 'Minion Pro Regular', "Times New Roman", Times, serif;
    font-size: 24px;
}

/* \f118 = Smile */
#WC_ShipmentDisplay_div_4 span:nth-child(7):before {
    content: "4";
    font-family: 'Minion Pro Regular', "Times New Roman", Times, serif;
    font-size: 24px;
}

/* Form labels inside fields Start */
form {position: relative;}
#content_wrapper #guestLogin .emailSection input {
  position: relative;
  left: 0;
  padding: 20px;
  display: block;
  background-position: 0 -10px;
  font-size: 20px;
  background: transparent;
  border-radius: 15px;
  border: solid 3px #666;
  font-family: verdana;
  width: 400px;
  margin: 0;
}

#content_wrapper #guestLogin .emailSection input:focus {
  border: solid 3px green;
  outline: none;
}

#content_wrapper #guestLogin .emailSection label {
  position: relative;
  font-size: 20px;
  top: 48px;  
  color: #444;
  left: 22px;
  font-size: 0;
  line-height: 0;
}


/*input:focus ~ label*/
#content_wrapper #guestLogin .emailSection label.placeholder {
  font-size: 12px;
  display: inline-block;
  color:rgba(0, 0, 0, 0.75);
  transition: all 1s;
  top: 24px;
  left: 24px;
  text-align: left;
}

.placeholder::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
.placeholder:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
.placeholder::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
.placeholder:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #fff;
}

#content_wrapper #guestLogin .emailSection label span.required-field  {color: red;}


#page div.store_message {
    display: none;
    left: 0;
    margin-left: 0;
    position: absolute;
    top: 40%;
    width: auto;
    width: 100%;
    z-index: 9999;
}

#page .store_message > .content {max-width: 300px; margin: 0 auto; box-shadow: 5px 5px 50px #cdf;}
#page .store_message > .content > .message {margin: 0; padding: 20px;}
#page .store_message > .content > .message .message_text {width: 100%; margin: 0;}
.store_message > .content > .close {outline: 0;}
#page .shadowPiece {display: none;}

/* Form labels inside fields End */

  
/*Mobile*/
@media (max-width: 399px) {
  #headerWidget #masthead > .top {
    display: block;
    width: 100%;
    height: 5px;
    background-color: green;
  }

} /* End Mobile < 399px*/	

@media (min-width: 400px) {
  * {box-sizing: border-box;}
  #headerWidget #masthead > .top {
    display: block;
    width: 100%;
    height: 10px;
    background-color: yellow;
  }
}

/* Larger than tablet (also point when grid becomes active) */
@media (min-width: 550px) {
  #headerWidget #masthead > .top {
    display: block;
    width: 100%;
    height: 10px;
    background-color: pink;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  #headerWidget #masthead > .top {
    display: block;
    width: 100%;
    height: 10px;
    background-color: turquoise;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  #headerWidget #masthead > .top {
    display: block;
    width: 100%;
    height: 10px;
    background-color: lilac;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  #headerWidget #masthead > .top {
    display: block;
    width: 100%;
    height: 10px;
    background-color: blue;
  }
}