/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

/*Fonts*/
/* FontAwesome - latin */
@font-face {
    font-family: "Baskerville-st";
    src: url('/wcsstore/HotterStorefrontAssetStore/content/fonts/BaskervilleBT-Roman_0.ttf');
}

@font-face {
    font-family: "Baskerville-it";
    src: url('/wcsstore/HotterStorefrontAssetStore/content/fonts/Baskerville-Italic2.ttf');
}

@font-face {
    font-family: "Bliss";
    src: url('/wcsstore/HotterStorefrontAssetStore/content/fonts/Bliss-Light.ttf');
}

@font-face {
    font-family: "Minion Pro Regular";
    font-style: normal;
    font-weight: normal;
    src: local('Minion Pro Regular'), url('/wcsstore/HotterStorefrontAssetStore/content/fonts/MinionPro-Regular.woff')
}
/* libre-baskerville-regular - latin */

@font-face {
    font-family: "Libre Baskerville";
    font-style: normal;
    font-weight: 400;
    src: url('/wcsstore/HotterStorefrontAssetStore/content/fonts/libre-baskerville-v4-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url('/wcsstore/HotterStorefrontAssetStore/content/fonts/libre-baskerville-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/wcsstore/HotterStorefrontAssetStore/content/fonts/libre-baskerville-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/wcsstore/HotterStorefrontAssetStore/content/fonts/libre-baskerville-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('/wcsstore/HotterStorefrontAssetStore/content/fonts/libre-baskerville-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/wcsstore/HotterStorefrontAssetStore/content/fonts/libre-baskerville-v4-latin-regular.svg#LibreBaskerville') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'FontAwesome';
    src: url('/wcsstore/HotterStorefrontAssetStore/content/fonts/fontawesome-webfont.eot');
    src: url('/wcsstore/HotterStorefrontAssetStore/content/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('/wcsstore/HotterStorefrontAssetStore/content/fonts/fontawesome-webfont.woff2') format('woff2'), url('/wcsstore/HotterStorefrontAssetStore/content/fonts/fontawesome-webfont.woff') format('woff'), url('/wcsstore/HotterStorefrontAssetStore/content/fonts/fontawesome-webfont.ttf') format('truetype'), url('/wcsstore/HotterStorefrontAssetStore/content/fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Bliss, sans-serif;
}

h1 {
    font-size: 13vmin;
}
h2 {
    font-size: calc(0.5rem + 2.5vmin);
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}